#~~~~~~~~~~~~~~~~Vim~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Vundle installs
vim/bundle/*
!vim/bundle

vim/view/*

# Vim swap files
*~
*.swp
*.swo

#~~~~~~~~~~~~~~Vim Docs~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vim/doc/tags

# Personal Notes
vim/doc/c8bit-contents.txt
vim/doc/c8bit
vim/doc/c8bit/*

# Work-only files
vim/doc/adc-*

#~~~~~~~~~~~~~~Configs~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Configs are whitelisted
config/*

# X11
!config/X11
!config/X11/*

# SuperCollider
!config/SuperCollider/startup.scd

